<h4>{{title}}</h4>

<div>
    <select [(ngModel)]="category">
      <option [value]="val" *ngFor ="let val of categorys">{{val}}</option>
    </select>
    <select [(ngModel)]="name">
      <option [value]="val" *ngFor ="let val of names">{{val}}</option>
    </select>
    <select [(ngModel)]="metric">
      <option [value]="val" *ngFor ="let val of metrics">{{val}}</option>
    </select>
    <button (click)="filter()">query</button>
</div>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Category</th>
            <th>Name</th>
            <th>Metric</th>
            <th>Collect</th>
            <th>Analyze</th>
            <th>Alarm</th>
            <th>Chart</th>
        </tr>
        <tr *ngFor="let status of echoData; let i = index">
            <td>{{i + 1}}</td>
            <td>{{status.category}}</td>
            <td>{{status.name}}</td>
            <td>{{status.metric}}</td>
            <td>
                <div [ngClass]="setCurrentClasses(status.collect.state)" [title]="status.collect.result">{{status.collect.timestamp}}</div>
            </td>
            <td>
                <div [ngSwitch]="status.analyze">
                    <div *ngSwitchCase="">None</div>
                    <div *ngSwitchDefault>
                        <div [ngClass]="setCurrentClasses(status.analyze.state)" [title]="status.analyze.result">{{status.analyze.timestamp}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div [ngSwitch]="status.alarm">
                    <div *ngSwitchCase="">None</div>
                    <div *ngSwitchDefault>
                        <div [ngClass]="setCurrentClasses(status.alarm.state)" [title]="status.alarm.result">{{status.alarm.timestamp}} </div>
                    </div>
                </div>
            </td>
            <td><a [href]="chartUrl(status.metric, status.name)" target="_blank">link</a></td>
        </tr>
    </table>
</div>